html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* RESET STYLI POZA NORMALIZE.CSS

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
} 

*/

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}

main {
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
}

.article {
	margin: 10px;
	border-radius: 8px;
	padding: 8px 16px;
	background: beige;
}

.article__heading {
	color: orange;
	font-size: 24px;
}

.article__text {
	color: #555;
}

.footer {
	padding: 8px 16px;
	background: coral;
}

.footer__text {
	color: bisque;
}

.footer__text--link {
	display: block;
	position: fixed;
	bottom: 16px;
	right: 16px;
	padding: 8px 12px;
	border-radius: 8px;
	background: darkred;
	color: white;
	text-decoration: none;
	transition: 0.4s;
}

.footer__text--link:hover {
	text-decoration: underline;
	background-color: rgb(190, 1, 1);
	scale: 1.05;
}

.header-hero {
	padding: 8px 16px;
}

.header-hero__heading {
	font-size: 36px;
	color: orangered;
}

.header-hero__image {
	width: 100%;
	max-width: 1000px;
	display: block;
	margin: 0 auto;
	border-radius: 8px;
}

.header-nav {
	position: sticky;
	top: 0;
}
.header-nav__navigation {
	padding: 16px;
	height: 80px;
	width: 100%;
	background: tomato;
}

.header-nav__navigation--link {
	color: beige;
}

.section {
	padding: 8px 16px;
}

.section__heading {
	font-size: 28px;
	color: darkorange;
}
