body {
	background: #fefefe;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	color: navy;
}
h2 {
	color: #1460aa;
	background: #aaa;
}
h3 {
    color: darkcyan;
}

section {
	background: #ccc;
}
