html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* RESET STYLI POZA NORMALIZE.CSS

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
} 

*/
$textColor:orange;

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}

main {
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
}

.article {
	margin: 10px;
	border-radius: 8px;
	padding: 8px 16px;
	background: beige;
}

.article__heading {
	color: $textColor;
	font-size: 20px;
}

.article__text {
	line-height: 1.5;
	color: #555;
}

.footer {
	padding: 8px 16px;
	background: coral;
}

.footer__text {
	color: bisque;
}

.footer__text--link {
	display: block;
	position: fixed;
	bottom: 16px;
	right: 16px;
	padding: 8px 12px;
	border-radius: 8px;
	background: darkred;
	color: white;
	text-decoration: none;
	transition: 0.4s;
}

.footer__text--link:hover {
	text-decoration: underline;
	background-color: rgb(190, 1, 1);
	scale: 1.05;
}
.hamburger {
	border: 0;
	background: none;
	font-size: 30px;
	padding: 8px 10px;
}
.header-hero {
	padding: 8px 16px;
}

.header-hero__heading {
	font-size: 28px;
	color: orangered;
}

.header-hero__image {
	width: 100%;
	max-width: 1000px;
	display: block;
	margin: 0 auto;
	border-radius: 8px;
}

.header-nav {
	background: tomato;
	position: sticky;
	top: 0;
	min-height: 50px;
	display: flex;
	justify-content: flex-end;
}
.header-nav__navigation {
	padding: 16px;
	width: 100%;
	background: tomato;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	position: absolute;
	top: 50px;
}

.header-nav__navigation--link {
	color: beige;
}

.section {
	padding: 8px 16px;
}

.section__heading {
	font-size: 24px;
	color: darkorange;
}

.section__text {
	line-height: 1.5;
}

.navigation--open {
	display: flex;
}

@media screen and (min-width: 768px) {
	.article--grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.article__heading {
		color: orange;
		font-size: 22px;
	}
	.hamburger {
		display: none;
	}
	.header-hero__heading {
		font-size: 30px;
		color: orangered;
	}
	.header-nav__navigation {
		padding: 16px;
		width: 100%;
		background: tomato;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 16px;
		position: static;
	}
	.section__heading {
		font-size: 26px;
		color: darkorange;
	}
}

@media screen and (min-width: 1280px) {
	.article--grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	.article__heading {
		color: orange;
		font-size: 24px;
	}
	.hamburger {
		display: none;
	}
	.header-hero__heading {
		font-size: 36px;
		color: orangered;
	}
	.header-nav__navigation {
		padding: 16px;
		height: 80px;
		width: 100%;
		background: tomato;
		background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 16px;
		position: static;
	}
	.section__heading {
		font-size: 28px;
		color: darkorange;
	}
}
