$desktop: 1280px;
$tablet: 768px;

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* RESET STYLI POZA NORMALIZE.CSS

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
} 

*/
$textColor: hotpink;

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}

main {
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
}

.article {
	margin: 10px;
	border-radius: 8px;
	padding: 8px 16px;
	background: beige;

	&__heading {
		color: $textColor;
		font-size: 20px;

		@media screen and (min-width: $tablet) {
			color: $textColor;
			font-size: 22px;
		}

		@media screen and (min-width: $desktop) {
			color: orange;
			font-size: 24px;
		}
	}

	&__text {
		line-height: 1.5;
		color: #555;
	}
	&--grid {
		@media screen and (min-width: $tablet) {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}

		@media screen and (min-width: $desktop) {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}

.footer {
	padding: 8px 16px;
	background: coral;

	&__text {
		color: bisque;

		&--link {
			display: block;
			position: fixed;
			bottom: 16px;
			right: 16px;
			padding: 8px 12px;
			border-radius: 8px;
			background: darkred;
			color: white;
			text-decoration: none;
			transition: 0.4s;

			&:hover {
				text-decoration: underline;
				background-color: rgb(190, 1, 1);
				scale: 1.05;
			}
		}
	}
}

.hamburger {
	border: 0;
	background: none;
	font-size: 30px;
	padding: 8px 10px;

	@media screen and (min-width: $tablet) {
		display: none;
	}

	@media screen and (min-width: $desktop) {
		display: none;
	}
}
.header-hero {
	padding: 8px 16px;

	&__heading {
		font-size: 28px;
		color: orangered;

		&::before {
			content: "";
			width: 28px;
			height: 28px;
			background: orangered;
			display: inline-block;
			margin-right: 16px;
		}

		@media screen and (min-width: $tablet) {
			font-size: 30px;
			color: orangered;
		}

		@media screen and (min-width: $desktop) {
			font-size: 36px;
			color: orangered;
		}
	}

	&__image {
		width: 100%;
		max-width: 1000px;
		display: block;
		margin: 0 auto;
		border-radius: 8px;
	}
}

.header-nav {
	background: tomato;
	position: sticky;
	top: 0;
	min-height: 50px;
	display: flex;
	justify-content: flex-end;

	&__navigation {
		padding: 16px;
		width: 100%;
		background: tomato;
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 16px;
		position: absolute;
		top: 50px;

		@media screen and (min-width: $tablet) {
			padding: 16px;
			width: 100%;
			background: tomato;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 16px;
			position: static;
		}

		@media screen and (min-width: $desktop) {
			padding: 16px;
			height: 80px;
			width: 100%;
			background: tomato;
			background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 16px;
			position: static;
		}

		&--link {
			color: beige;
		}
	}
}

.section {
	padding: 8px 16px;

	&__heading {
		font-size: 24px;
		color: darkorange;

		@media screen and (min-width: $tablet) {
			font-size: 26px;
			color: darkorange;
		}

		@media screen and (min-width: $desktop) {
			font-size: 28px;
			color: darkorange;
		}
	}

	&__text {
		line-height: 1.5;
	}
}

.navigation--open {
	display: flex;
}
